In [10]:
import pandas as pd
import numpy as np

In [33]:
m6 = pd.read_csv(r'..\Data\Clean\carchive_M6.csv')
rain = pd.read_csv(r'..\Data\Clean\rain.csv')
wind = pd.read_csv(r'..\Data\Clean\wind.csv')

In [17]:
m6['acq_date'] = pd.to_datetime(m6['acq_date'])

In [18]:
m6.acq_date

0         2000-11-01
1         2000-11-01
2         2000-11-01
3         2000-11-01
4         2000-11-01
             ...
5081215   2019-12-31
5081216   2019-12-31
5081217   2019-12-31
5081218   2019-12-31
5081219   2019-12-31
Name: acq_date, Length: 5081220, dtype: datetime64[ns]

In [12]:
rain.keys()

Index(['Rain ID', 'Date/Time', 'Nearest town', 'State', 'Latitude',
       'Longitude', 'Intense precipitation amount',
       'Intense precipitation period', 'Total precipitation',
       'Total precipitation duration', 'Insurance payout'],
      dtype='object')

In [19]:
rain['Date/Time'] = pd.to_datetime(rain['Date/Time'])

In [20]:
rain['Date/Time']

0      2006-01-06 05:05:00
1      2006-01-07 01:00:00
2      2006-01-12 05:15:00
3      2006-01-15 05:20:00
4      2006-01-15 21:54:00
               ...
3461   2018-12-16 06:45:00
3462   2018-12-21 06:00:00
3463   2019-04-05 15:00:00
3464   2019-05-01 00:00:00
3465   2009-01-23 05:00:00
Name: Date/Time, Length: 3466, dtype: datetime64[ns]

In [27]:
a = rain['Date/Time'][0]

In [21]:
wind['Date/Time'] = pd.to_datetime(wind['Date/Time'])

In [22]:
wind['Date/Time']

0      2006-01-01 03:32:00
1      2006-01-01 04:44:00
2      2006-01-01 05:16:00
3      2006-01-06 04:30:00
4      2006-01-06 08:45:00
               ...
2828   2019-04-09 05:05:00
2829   2016-11-21 09:00:00
2830   2019-03-24 14:00:00
2831   2019-04-05 12:00:00
2832   2019-10-19 08:24:00
Name: Date/Time, Length: 2833, dtype: datetime64[ns]