In [1]:
import pandas as pd
import numpy as np

In [2]:
m6 = pd.read_csv(r'..\Data\Clean\carchive_M6.csv')
rain = pd.read_csv(r'..\Data\Clean\rain.csv')
wind = pd.read_csv(r'..\Data\Clean\wind.csv')

In [17]:
m6['acq_date'] = pd.to_datetime(m6['acq_date'])

In [18]:
m6.acq_date

0         2000-11-01
1         2000-11-01
2         2000-11-01
3         2000-11-01
4         2000-11-01
             ...
5081215   2019-12-31
5081216   2019-12-31
5081217   2019-12-31
5081218   2019-12-31
5081219   2019-12-31
Name: acq_date, Length: 5081220, dtype: datetime64[ns]

In [3]:
rain.keys()

Index(['Rain ID', 'Nearest town', 'State', 'Latitude', 'Longitude',
       'Intense precipitation amount', 'Intense precipitation period',
       'Total precipitation', 'Total precipitation duration',
       'Insurance payout', 'acq_date', 'acq_time'],
      dtype='object')

In [7]:
rain.acq_date.nunique()

1125

In [8]:
wind.acq_date.nunique()

1271

In [25]:
rainy_days = m6.acq_date[rain.acq_date]

In [23]:
rainy_days.head()

acq_date
2006-01-06    NaN
2006-01-07    NaN
2006-01-12    NaN
2006-01-15    NaN
2006-01-15    NaN
Name: acq_date, dtype: object

In [26]:
rainy_days = [m6.acq_date[m6.acq_date == i] for i in rain.acq_date.unique() if '2006-01' in i]

In [27]:
rainy_days

[1317653    2006-01-06
 1317654    2006-01-06
 1317655    2006-01-06
 1317656    2006-01-06
 1317657    2006-01-06
               ...
 1318111    2006-01-06
 1318112    2006-01-06
 1318113    2006-01-06
 1318114    2006-01-06
 1318115    2006-01-06
 Name: acq_date, Length: 463, dtype: object,
 1318116    2006-01-07
 1318117    2006-01-07
 1318118    2006-01-07
 1318119    2006-01-07
 1318120    2006-01-07
               ...
 1318458    2006-01-07
 1318459    2006-01-07
 1318460    2006-01-07
 1318461    2006-01-07
 1318462    2006-01-07
 Name: acq_date, Length: 347, dtype: object,
 1318945    2006-01-12
 1318946    2006-01-12
 1318947    2006-01-12
 1318948    2006-01-12
 1318949    2006-01-12
               ...
 1319009    2006-01-12
 1319010    2006-01-12
 1319011    2006-01-12
 1319012    2006-01-12
 1319013    2006-01-12
 Name: acq_date, Length: 69, dtype: object,
 1319176    2006-01-15
 1319177    2006-01-15
 1319178    2006-01-15
 1319179    2006-01-15
 1319180    2006-01-15
               ...
 1319241    2006-01-15
 1319242    2006-01-15
 1319243    2006-01-15
 1319244    2006-01-15
 1319245    2006-01-15
 Name: acq_date, Length: 70, dtype: object,
 1319246    2006-01-16
 1319247    2006-01-16
 1319248    2006-01-16
 1319249    2006-01-16
 1319250    2006-01-16
               ...
 1319338    2006-01-16
 1319339    2006-01-16
 1319340    2006-01-16
 1319341    2006-01-16
 1319342    2006-01-16
 Name: acq_date, Length: 97, dtype: object,
 1319432    2006-01-18
 1319433    2006-01-18
 1319434    2006-01-18
 1319435    2006-01-18
 1319436    2006-01-18
 1319437    2006-01-18
 1319438    2006-01-18
 1319439    2006-01-18
 1319440    2006-01-18
 1319441    2006-01-18
 1319442    2006-01-18
 1319443    2006-01-18
 1319444    2006-01-18
 1319445    2006-01-18
 1319446    2006-01-18
 1319447    2006-01-18
 1319448    2006-01-18
 1319449    2006-01-18
 1319450    2006-01-18
 1319451    2006-01-18
 1319452    2006-01-18
 1319453    2006-01-18
 1319454    2006-01-18
 1319455    2006-01-18
 1319456    2006-01-18
 1319457    2006-01-18
 1319458    2006-01-18
 1319459    2006-01-18
 1319460    2006-01-18
 1319461    2006-01-18
 1319462    2006-01-18
 1319463    2006-01-18
 1319464    2006-01-18
 1319465    2006-01-18
 1319466    2006-01-18
 1319467    2006-01-18
 1319468    2006-01-18
 1319469    2006-01-18
 1319470    2006-01-18
 1319471    2006-01-18
 1319472    2006-01-18
 1319473    2006-01-18
 1319474    2006-01-18
 Name: acq_date, dtype: object,
 1319475    2006-01-19
 1319476    2006-01-19
 1319477    2006-01-19
 1319478    2006-01-19
 1319479    2006-01-19
               ...
 1319550    2006-01-19
 1319551    2006-01-19
 1319552    2006-01-19
 1319553    2006-01-19
 1319554    2006-01-19
 Name: acq_date, Length: 80, dtype: object,
 1319555    2006-01-20
 1319556    2006-01-20
 1319557    2006-01-20
 1319558    2006-01-20
 1319559    2006-01-20
               ...
 1319795    2006-01-20
 1319796    2006-01-20
 1319797    2006-01-20
 1319798    2006-01-20
 1319799    2006-01-20
 Name: acq_date, Length: 245, dtype: object,
 1319800    2006-01-21
 1319801    2006-01-21
 1319802    2006-01-21
 1319803    2006-01-21
 1319804    2006-01-21
               ...
 1320198    2006-01-21
 1320199    2006-01-21
 1320200    2006-01-21
 1320201    2006-01-21
 1320202    2006-01-21
 Name: acq_date, Length: 403, dtype: object,
 1322219    2006-01-27
 1322220    2006-01-27
 1322221    2006-01-27
 1322222    2006-01-27
 1322223    2006-01-27
 1322224    2006-01-27
 1322225    2006-01-27
 1322226    2006-01-27
 1322227    2006-01-27
 1322228    2006-01-27
 1322229    2006-01-27
 1322230    2006-01-27
 1322231    2006-01-27
 1322232    2006-01-27
 1322233    2006-01-27
 1322234    2006-01-27
 1322235    2006-01-27
 1322236    2006-01-27
 1322237    2006-01-27
 1322238    2006-01-27
 1322239    2006-01-27
 1322240    2006-01-27
 1322241    2006-01-27
 1322242    2006-01-27
 1322243    2006-01-27
 1322244    2006-01-27
 1322245    2006-01-27
 1322246    2006-01-27
 1322247    2006-01-27
 1322248    2006-01-27
 1322249    2006-01-27
 1322250    2006-01-27
 1322251    2006-01-27
 1322252    2006-01-27
 1322253    2006-01-27
 1322254    2006-01-27
 1322255    2006-01-27
 1322256    2006-01-27
 1322257    2006-01-27
 1322258    2006-01-27
 1322259    2006-01-27
 1322260    2006-01-27
 1322261    2006-01-27
 1322262    2006-01-27
 1322263    2006-01-27
 1322264    2006-01-27
 1322265    2006-01-27
 1322266    2006-01-27
 1322267    2006-01-27
 1322268    2006-01-27
 1322269    2006-01-27
 1322270    2006-01-27
 Name: acq_date, dtype: object,
 1322271    2006-01-28
 1322272    2006-01-28
 1322273    2006-01-28
 1322274    2006-01-28
 1322275    2006-01-28
 1322276    2006-01-28
 1322277    2006-01-28
 1322278    2006-01-28
 1322279    2006-01-28
 1322280    2006-01-28
 1322281    2006-01-28
 1322282    2006-01-28
 1322283    2006-01-28
 1322284    2006-01-28
 1322285    2006-01-28
 1322286    2006-01-28
 1322287    2006-01-28
 1322288    2006-01-28
 1322289    2006-01-28
 1322290    2006-01-28
 1322291    2006-01-28
 1322292    2006-01-28
 1322293    2006-01-28
 1322294    2006-01-28
 1322295    2006-01-28
 1322296    2006-01-28
 1322297    2006-01-28
 1322298    2006-01-28
 1322299    2006-01-28
 1322300    2006-01-28
 1322301    2006-01-28
 1322302    2006-01-28
 1322303    2006-01-28
 1322304    2006-01-28
 1322305    2006-01-28
 1322306    2006-01-28
 1322307    2006-01-28
 1322308    2006-01-28
 1322309    2006-01-28
 1322310    2006-01-28
 1322311    2006-01-28
 1322312    2006-01-28
 1322313    2006-01-28
 1322314    2006-01-28
 1322315    2006-01-28
 Name: acq_date, dtype: object,
 1322316    2006-01-29
 1322317    2006-01-29
 1322318    2006-01-29
 1322319    2006-01-29
 1322320    2006-01-29
 1322321    2006-01-29
 1322322    2006-01-29
 1322323    2006-01-29
 1322324    2006-01-29
 1322325    2006-01-29
 1322326    2006-01-29
 1322327    2006-01-29
 1322328    2006-01-29
 1322329    2006-01-29
 1322330    2006-01-29
 1322331    2006-01-29
 1322332    2006-01-29
 1322333    2006-01-29
 1322334    2006-01-29
 1322335    2006-01-29
 1322336    2006-01-29
 1322337    2006-01-29
 1322338    2006-01-29
 1322339    2006-01-29
 1322340    2006-01-29
 1322341    2006-01-29
 1322342    2006-01-29
 1322343    2006-01-29
 1322344    2006-01-29
 1322345    2006-01-29
 1322346    2006-01-29
 1322347    2006-01-29
 1322348    2006-01-29
 1322349    2006-01-29
 1322350    2006-01-29
 1322351    2006-01-29
 1322352    2006-01-29
 1322353    2006-01-29
 1322354    2006-01-29
 1322355    2006-01-29
 1322356    2006-01-29
 1322357    2006-01-29
 1322358    2006-01-29
 1322359    2006-01-29
 1322360    2006-01-29
 1322361    2006-01-29
 1322362    2006-01-29
 1322363    2006-01-29
 Name: acq_date, dtype: object,
 1319343    2006-01-17
 1319344    2006-01-17
 1319345    2006-01-17
 1319346    2006-01-17
 1319347    2006-01-17
               ...
 1319427    2006-01-17
 1319428    2006-01-17
 1319429    2006-01-17
 1319430    2006-01-17
 1319431    2006-01-17
 Name: acq_date, Length: 89, dtype: object,
 1318463    2006-01-08
 1318464    2006-01-08
 1318465    2006-01-08
 1318466    2006-01-08
 1318467    2006-01-08
               ...
 1318664    2006-01-08
 1318665    2006-01-08
 1318666    2006-01-08
 1318667    2006-01-08
 1318668    2006-01-08
 Name: acq_date, Length: 206, dtype: object,
 1321181    2006-01-24
 1321182    2006-01-24
 1321183    2006-01-24
 1321184    2006-01-24
 1321185    2006-01-24
               ...
 1321618    2006-01-24
 1321619    2006-01-24
 1321620    2006-01-24
 1321621    2006-01-24
 1321622    2006-01-24
 Name: acq_date, Length: 442, dtype: object,
 1318669    2006-01-09
 1318670    2006-01-09
 1318671    2006-01-09
 1318672    2006-01-09
 1318673    2006-01-09
               ...
 1318800    2006-01-09
 1318801    2006-01-09
 1318802    2006-01-09
 1318803    2006-01-09
 1318804    2006-01-09
 Name: acq_date, Length: 136, dtype: object,
 1318805    2006-01-10
 1318806    2006-01-10
 1318807    2006-01-10
 1318808    2006-01-10
 1318809    2006-01-10
               ...
 1318875    2006-01-10
 1318876    2006-01-10
 1318877    2006-01-10
 1318878    2006-01-10
 1318879    2006-01-10
 Name: acq_date, Length: 75, dtype: object,
 1318880    2006-01-11
 1318881    2006-01-11
 1318882    2006-01-11
 1318883    2006-01-11
 1318884    2006-01-11
               ...
 1318940    2006-01-11
 1318941    2006-01-11
 1318942    2006-01-11
 1318943    2006-01-11
 1318944    2006-01-11
 Name: acq_date, Length: 65, dtype: object]